<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Boilerplate Isomorphic Typescript</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{relPathToBaseUrl}}favicon.png">
        <link rel="icon"
              type="image/png"
              href="{{relPathToBaseUrl}}favicon.png">
        <link rel="stylesheet" href="{{relPathToBaseUrl}}css/app.css">
    </head>
    <body>
        <div id="content">{{{content}}}</div>
        <script src="{{relPathToBaseUrl}}js/lib.js"></script>
        <script src="{{relPathToBaseUrl}}js/app.js"></script>
    </body>
</html>
